

<html>
<head>
</head>
<body>
<table class="mytable">
  <thead>
    <tr>
      <th>Player Stats</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Players</td> <td>Cell</td>
    </tr>
    <tr>
      <td>Eliminated</td> <td>Cell</td>
    </tr>
    <tr>
      <td>Survivors</td> <td>Cell</td>
    </tr>
    <tr>
      <td>Perfects</td> <td>Cell</td>
    </tr>
    <tr>
      <td>Used Mulligans</td> <td>Cell</td>
    </tr>
  </tbody>
</table>
  <br>
  <br>
<table class="mytable">
  <thead>
    <tr>
      <th>Totals of Teams Used</th>
      <th>Count</th>
      <th> % of Players</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dallas Cowboys</td> <td>2</td><td>30%</td>
    </tr>
  </tbody>
</table>
</body>
</html>
<!-- Codes by Quackit.com -->

