
    <html>
    <head>
    </head>
    <body>
    <div style="font-family: Verdana;">
    <br>
    <span style="font-size:18px; color:#000000;">Welcome <strong>{name} ['{user_id}']</strong>, to Mulligan's Knockout Pool!</span>
    <br>
    <br>
    <div class="rules" style="border: 2px solid; background-color: #f2f2f2;padding:10px;width:850px; font-family: Lucida Sans; font-size:14px; color:#000000;">
    <div class="rule_header" style="position:absolute; top:90px; left: 350px; font-size:18px; color:#000000;"><strong>Rules of the Game</strong></div>
    <ol>
    <br><br>
    <li>Players must select one NFL team to win in the current week's NFL games.<br>
    During the period of picking a team to win each week, YOU CAN ONLY USE A EACH NFL TEAM ONCE</li><br>
    <li>If your selected team WINS in the current week - you SURVIVED the week's challenge and now advance to the next week of competition.</li><br>
    <li>If your selected team LOSES in the current week - you are ELIMINATED from competition. &nbsp;GAME OVER.<br><br> Only players that continue to successfully pick a winning team each week advance to the next round.</li><br>
    <li>THE MULLIGAN: &nbsp;Each player is permitted one second chance attempt ('A Mulligan') to remain in the pool upon thier inital losing pick.<br>In effect, each player is allowed to continue to play if they failed on ONE pick.  &nbsp;Once they lose again - they are completely eliminated.</li><br>
    <li>The last player to continue to advance each week WINS THE ENTIRE POOL.<br>In the case of mulitple winners (i.e. everyone left get's knocked out of the pool at the same time), the pool is divided equally among the last remaining participants.</li><br>
    <li>When the game ends - ppriority goes to winning players that DID NOT use their second chance entry ('Mulligan').<br> If winners have picked perfectly - WINNINGS ARE DIVIDED AMONG THOSE PLAYERS ONLY.<br>Otherwise, all ending survivors divide the total prize.</li>
    </ol>
    </div>
    <br>
    <span style="font-size:18px; color:#000000;">Good Luck!</span>
    </div>
    </body>
    </html>